<section class="welcome-section mb-4">
    <h2>Welcome back, Admin!</h2>
    <p>Manage your employees efficiently and effortlessly.</p>
</section>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="card card-total-employees text-center">
            <div class="card-body">
                <h5 class="card-title">Total Employees</h5>
                <p class="display-4"id="employee-count"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-departments text-center">
            <div class="card-body">
                <h5 class="card-title">Total Departments</h5>
                <p class="display-4"id="department-count"></p>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/scripts/home/home.js"></script>
}
